<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] - %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <!-- Optional: Specific logger for your package -->
        <Logger name="ExcelReader" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Required: Root logger -->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
